<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Details</title>
</head>
<body>
    <main>
        <div>
            <h1> {{ todolist.name }} </h1>
            <p>
            <a href="{% url 'todo_list_update' todolist.id %}">Edit</a>
            </p>
            <p>
            <a href="{% url 'todo_list_delete' todolist.id %}">Delete</a>
            </p>

            <h2> Tasks </h2>
            <table>
                <thread>
                    <tr>
                        <th> Task </th>
                        <th> Due Date </th>
                    </tr>
                </thread>
                <tbody>
                    {% for item in todolist.items.all %}
                    <tr>
                        <td>
                            <a href="{% url 'todo_item_update' item.id %}">
                                {{ item.task }}</a>
                        </td>
                    <td>
                        {{ item.due_date|date:"M d, Y"  }}
                    </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
